<div class="row g-0">
    <h1>Mis Proyectos</h1>
    <div class="container">
        <div class="col-sm-12 col-md-6 col-lg-6 descripcion">
            <h2>Sisteme de Reservas de Agencia de Turismo</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cupiditate esse eaque, nisi odio laborum harum distinctio expedita enim aliquam. Doloribus itaque consectetur debitis repellendus temporibus consequuntur nisi vero eligendi!
            </p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5  offset-md-1 offset-lg-1 previsualizacion">
            <img src="../../../assets/proyectoEmpresaTurismo.png" alt="ProyectoAgenciaTurismo" class="img-fluid imagen">
        </div>
    </div>
</div>