.row{
    padding: 5px 40px 40px 40px;
    /* margin-left: 10px; */
}

.container{
    width: auto;
}
.descripcion, .previsualizacion{
    display: inline-block;
    text-align: justify;
}
.imagen{
    box-shadow: 7px 7px 10px #2b554e;
}
h1{
    background-color: #e2f4f1;
}