<div class="row g-0">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>ISFDyT N°166 - Tandil</h2> - <h3>()años</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, quidem? Esse earum alias voluptatumiste, consequuntur dolores qui dolore temporibus in delectus odit ut quidem nisi ducimus molestiae verovoluptates.</p>
        </ul>
        <ul>
            <li>
                <h2>UNICEN - Tandil</h2> - <h3>()años</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, quidem? Esse earum alias voluptatumiste, consequuntur dolores qui dolore temporibus in delectus odit ut quidem nisi ducimus molestiae verovoluptates.</p>
        </ul>
    </div>
</div>