<div class="row g-0">
    <h1>Hard & Soft Skills</h1>
    <div class="habilidad text-center">
        <circle-progress
            [title]="'Python'"
            [titleColor]="'#2b554e'"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#457f76'"
            [innerStrokeColor]="'#e2f4f1'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="habilidad text-center">
        <circle-progress
            [title]="'Java'"
            [titleColor]="'#2b554e'"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="80"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#457f76'"
            [innerStrokeColor]="'#e2f4f1'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="habilidad text-center">
        <circle-progress
            [title]="'HTML'"
            [titleColor]="'#2b554e'"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="70"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#457f76'"
            [innerStrokeColor]="'#e2f4f1'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="habilidad text-center">
        <circle-progress
            [title]="'CSS'"
            [titleColor]="'#2b554e'"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="50"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#457f76'"
            [innerStrokeColor]="'#e2f4f1'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="habilidad text-center">
        <circle-progress
            [title]="'JavaScript'"
            [titleColor]="'#2b554e'"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="70"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#457f76'"
            [innerStrokeColor]="'#e2f4f1'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="habilidad text-center">
        <circle-progress
            [title]="['Trabajo','en equipo']"
            [titleColor]="'#2b554e'"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="100"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#457f76'"
            [innerStrokeColor]="'#e2f4f1'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
</div>